.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.bubbles{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}