
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(to right, #00ebe7, #fa5700);
}
